img {
 width: 100%;
}

.animal-section {
  display: flex;
  flex-direction: column;
}

dt {
  font-weight: bold;
}

@media (min-width: 700px){
  img {
  height: 250px;
  width: 100%;
  max-width: 400px;
}
}

